<?xml version="1.0"?>

<!-- top level -->
<robot name="iiwa7_gripper" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- include the lbr iiwa macro -->
    <xacro:include filename="$(find lbr_description)/urdf/iiwa7/iiwa7_description.xacro" />
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>
    <xacro:include filename="$(find gazebo_sensor_collection)/urdf/cameras/rgbd/realsense_d415.urdf.xacro" />
    <xacro:arg name="robot_name" default="lbr" />
    <xacro:arg name="mode" default="mock" />
    <xacro:arg
        name="system_parameters_path"
        default="$(find lbr_ros2_control)/config/lbr_system_parameters.yaml" />

    <!-- fixed to world, see http://classic.gazebosim.org/tutorials?tut=ros_urdf&cat=connect_ros -->
    <link name="world" />

    <!--joint
        between world and link_0-->
    <joint name="world_joint" type="fixed">
        <parent link="world" />
        <child link="link_0" />
    </joint>

    <xacro:property name="operation_mode" value="$(arg mode)" />
    
    <xacro:if value="${operation_mode == 'gazebo'}">
        <xacro:property name="use_sim" value="true" />
    </xacro:if>
    <xacro:unless value="${operation_mode == 'gazebo'}">
        <xacro:property name="use_sim" value="false" />
    </xacro:unless>

    <xacro:if value="${operation_mode == 'mock'}">
        <xacro:property name="fake_hardware" value="true" />
    </xacro:if>
    <xacro:unless value="${operation_mode == 'mock'}">
        <xacro:property name="fake_hardware" value="false" />
    </xacro:unless>

    <!-- iiwa -->
    <xacro:iiwa7
        robot_name="$(arg robot_name)"
        mode="$(arg mode)"
        system_parameters_path="$(arg system_parameters_path)" />
    <xacro:robotiq_gripper name="RobotiqGripperHardwareInterface" prefix="" parent="link_ee" use_fake_hardware="${fake_hardware}" sim_ignition="${use_sim}">
        <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:robotiq_gripper>
    
    <xacro:sensor_realsense_d415 name="real_sense" parent="link_ee">
        <origin xyz="0 0.05 0.03 " rpy="0 -1.57079 -1.57079" />
    </xacro:sensor_realsense_d415> 
</robot>